.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .dashboard-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
  }
  
  .task-group-selection {
    display: flex;
    align-items: center;
    margin-right: auto;
    padding-left: 180px; /* This may need adjustment */
  }
  
  .pie-chart-title-container {
    display: flex;
    align-items: center;
    padding-right: 400px; /* This may need adjustment */
  }
  
  .pie-charts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  
  .pie-chart-title {
    /* Adjust this value to align with the dropdown as necessary */
    margin-left: 20px;
  }
  
  
  .task-lists {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }

  .task-cards-container {
    /* Add your styles here to lay out the task cards container */
    width: 100%; /* Example: Take up the full width */
    display: flex;
    justify-content: space-around; /* Example: Space out cards evenly */
    padding: 20px; /* Example: Add some padding */
    /* More styles as per your design requirements */
}


  
/* Adjust the position of the search-and-tags container */
.search-and-tags {
    align-self: flex-start; /* Aligns the container to the start of the flex container, which is the top */
    margin-top: -20px; /* Pushes the container upwards; adjust the value as needed */
    margin-left: -20px; /* Pushes the container towards the left; adjust the value as needed */
  }
  .add-task-btn {
    /* Your styles for the button */
  }
  